:root {
  --main-bg-color: #1A1A1D;
  --border-img-color: #6F2232;
  --good-border-img-color: green;
  --bad-border-img-color: red;
  --quote-color: #CCCCCC;
  --guillemet-color: #C3073F;
  --label-color: #2A2A2D;
  /*--label-color: #C3073F;*/
  --good-ovl-color: green;
  --bad-ovl-color: #C3073F;
}

body {
    background-color: var(--main-bg-color);
    font-family: Open Sans;
    color: #CCCCCC;
}

/*
.button {
  background-color: #6F2232 !important;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer;
}*/
.btn-large {
    background-color: var(--nav-color);
}

.btn-color {
    background-color: var(--border-img-color);
}

/* Change the color of links on hover */
.btn-color:hover {
  background-color: var(--guillemet-color);
}

.nav-wrapper {
  background-color: var(--border-img-color) !important;
}

li.active {
background-color: var(--guillemet-color) !important;
}

.sidenav-style {
    background-color: var(--border-img-color);
}

.sidenav li>a {
    color: var(--quote-color) !important;
}
/*
.topnav {
  background-color: #6F2232;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#nav-account {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--guillemet-color);
  color: black;
}


.topnav a.active {
  background-color: var(--guillemet-color);
  color: white;
}
*/

#container-quote {
    /* width    : 80%;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: var(--quote-color);
    /*margin: auto;

    vertical-align: middle;*/


}

#img-container {
    display: flex;
    justify-content: space-evenly;
    /* justify-content: space-around; */
    align-items: center;
}

#room-img-container {
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* justify-content: space-around; */
    align-items: center;
}

#home-img-container {
    height: 65vh;
    display: flex;
    justify-content: space-evenly;
    /* justify-content: space-around; */
    align-items: center;
}

#preset-container {
    /*height: 30vh;*/
    display: flex;
    justify-content: space-evenly;
    /* justify-content: space-around; */
    align-items: center;
    flex-wrap: wrap;
}

.mode-img-container {
    /*height: 30vh;*/
    display: flex;

    justify-content: space-evenly;
    /* justify-content: space-around; */
    align-items: center;
}
span.imp-word {
    color:var(--guillemet-color);
    font-weight: bold;
}

#quote {
    position: absolute;
    /*background-color: #FF0000;*/
    width    : 80%;
    height   : 100px;
    top: 65%;
    bottom: 35%;
    left: 0;
    right: 0;
    margin: auto;

    text-align: center;
    vertical-align: middle;

    color: var(--quote-color);
    /*font-size: 300%;*/

}

.guillemet {
    font-size: 3.10rem;
    color:var(--guillemet-color);
    /*display: inline;*/
    /*font-size: 150%;*/
}


.container-div {
  position: relative;
  cursor: pointer;
  /*width: 100%;*/
  display:inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  /*width: 100%;*/
  opacity: 0;
  transition: .5s ease;
  background-color: var(--label-color);
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

img.good-answer {
    border: solid 5px var(--good-border-img-color);
}

img.bad-answer {
    border: solid 5px var(--bad-border-img-color);
}

div.good-answer-ovl {
    opacity: 0.8;
    background-color: var(--good-ovl-color);
}

div.bad-answer-ovl {
    opacity: 0.8;
    background-color: var(--label-color);
}

div.answer-ovl {
    opacity: 0.8;
    background-color: var(--guillemet-color);
}

#score {
text-align: right;
margin-right: 20px;
}

#score1 {
color: var(--guillemet-color);

font-size: 200%;
font-weight: bold;
}

#score-slash {
/*color: var(--guillemet-color);*/
color: #cccccc;
font-size: 150%;
font-weight: bold;
}

#score2 {
color: #cccccc;
font-size: 150%;
font-weight: bold;
}

img#eraser {
margin-left:5px;
height:25px;
cursor: pointer;
}

/* Selection */
fieldset.group  {
  margin: 0;
  padding: 0;
  margin-bottom: 1.25em;
  padding: .125em;
}

fieldset.group legend {
  margin: 0;
  padding: 0;
  font-weight: bold;
  margin-left: 20px;
  font-size: 100%;
  color: black;
}


ul.checkbox  {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  list-style: none;
}

ul.checkbox li input {
  margin-right: .25em;
}

ul.checkbox li {
  border: 1px transparent solid;
  display:inline-block;
  width:12em;
}

ul.checkbox li label {
  /* margin-left: ; */
}
ul.checkbox label:hover,
ul.checkbox label.focus  {
  color: var(--guillemet-color);
  /*background-color: #6F2232;
  border: 1px var(--guillemet-color) solid;
  width: 12em;*/
}

.normal-selection {

}

.waiting-selection {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.clickable-link {
    color: var(--guillemet-color);
    cursor: pointer;
}

.clickable-link:hover {
    color: --border-img-color;
}

.check-with-label:checked + .label-for-check {
  font-weight: bold;
}

#error-host {
    visibility: hidden;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    height:30%;
    /* width:90%; */
    border: solid 2px var(--border-img-color);
    background-color: #222222;
    font-size: 200%;
    margin: auto;
}

.error-host-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*
* {
  box-sizing: border-box;
}
*/
input {
    color: white;
}

::placeholder {
  color: #888;
}

/* label color */
.input-field label {
 color: var(--border-img-color) !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: var(--guillemet-color) !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid var(--guillemet-color) !important;
 box-shadow: 0 1px 0 0 var(--guillemet-color) !important;
}
/* label focus color number */
.input-field input[type=number]:focus + label {
 color: var(--guillemet-color) !important;
}
/* label underline focus color number */
.input-field input[type=number]:focus {
 border-bottom: 1px solid var(--guillemet-color) !important;
 box-shadow: 0 1px 0 0 var(--guillemet-color) !important;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}

.helper-text {
color:#ddd !important;
font-style: italic;
}

.collapsible-header {
    position: relative;
    background-color: var(--guillemet-color) !important;
    color: #fff !important;
    border-bottom: 1px solid var(--guillemet-color) !important;
}

.collapsible {
    border-right: 1px solid var(--guillemet-color) !important;
    border-left: 1px solid var(--guillemet-color) !important;
    border-top: 1px solid var(--guillemet-color) !important;
    border-bottom: 1px solid var(--guillemet-color) !important;
}

.collapsible-body {
    border-bottom: 1px solid var(--guillemet-color) !important;
    background-color: var(--main-bg-color) !important;
    padding-top:1.5rem;
}

.collapsible-header i.material-icons {
    position: absolute;
    right: 0;
}

/* BOX COLOR */

[type="checkbox"]+span:not(.lever):before{
        border: 2px solid #999;
      }

/* RIGHT TICK COLOR */

 [type="checkbox"]:checked+span:not(.lever):before {
        border-right: 2px solid var(--guillemet-color);
        border-bottom: 2px solid var(--guillemet-color);
      }

/* RADIO */
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
    border: 2px solid var(--guillemet-color);
    background-color: var(--guillemet-color);
}


[type="radio"]:checked +span:after,
[type="radio"].with-gap:checked +span:after {
        background-color: var(--guillemet-color);
}


.title-about {
    color: var(--guillemet-color);
}

.content-about {
    margin-left: 1em;
}

.select-dropdown {
  height: 300px;
}

td {
    width: auto;
    border-color: #CCC !important;
}

table, th, td {
  border: 1px solid #CCC;
}

.number-list-score {
  float: left;
  color: #CCC;
}

#bug {
  visibility: hidden;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  text-align: center;
  height:20%;
  /* width:90%; */
  border: solid 2px var(--border-img-color);
  background-color: #222222;
  font-size: 200%;
  margin: auto;
  z-index: 1000;
}

#bug-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Auto complete */

.dropdown-content li>a, .dropdown-content li>span {
  color: #000!important;
}
.autocomplete-content li .highlight {
  color: var(--guillemet-color)!important;
}

/* #timer-debrief {
  color: green;
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  vertical-align: middle;
} */

/* Responsive */
/*
@media screen and (max-width: 576px) {

    body, p, a {
        font-size: 14px;
    }

    img.movie-img {
        border: solid 5px var(--border-img-color);
        height: 15vh;
        width:100%;

    }

}


@media (max-width: 576px) {
    body, p, a {
        font-size:5vw;
    }

}
*/

img.screenshot {
  /* max-height:80%; */
  max-width:100%;
  height:auto;
  width:auto;
}

img.screenshot-thumb {
  /* max-height:80%; */
  max-width:100%;
  height:auto;
  width:auto;
  cursor:pointer;
}
#cont-right-answer-div {
  /*width: 400px;
  height: 260px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

#right-answer-div {
  display: none;
  flex: 0 0 100%;
}

.container-gal {
	margin: 0 auto;
	max-width: 700px;
	max-height: 100vh;
	/*background-color: white;*/
}


/* Useful Classes */
.xy-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.transition-gal {
	transition: all 350ms ease-in-out;
}

.r-3-2 {
	width: 100%;
	padding-bottom: 66.667%;
	/*background-color: #ddd;*/
}

.image-holder {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/* Main Styles */
.gallery-wrapper {
	position: relative;
	overflow: hidden;
}

.gallery {
	position: relative;
	white-space: nowrap;
	font-size: 0;
}

.item-wrapper {
	cursor: pointer;
	width: 15%; /* arbitrary value */
	display: inline-block;
	/*background-color: white;*/
}

.gallery-item { opacity: 0.5; }
.gallery-item.active { opacity: 1; }

#ul-image, #ul-quote {
  display: none;
}

.switch label input[type=checkbox]+.lever:after {
   background-color: #999999;
}

.switch label input[type=checkbox]:checked+.lever:after {
   background-color: var(--guillemet-color);
}