/* Desktop (min-width: 501px, min-height: 500px) */

@media (hover: hover) and (pointer: fine) {
  .container-div:hover .overlay { opacity: 1; }
}

img.movie-img {
  height: 35vh;
  width: auto;
  display: block;
}

.text { font-size: 1.0rem; }

#quote-text { font-size: 1.8rem; }

#img-container { height: 40vh; }

.container-div { height: 35vh; }

#container-quote {
  height: 22vh;
  padding: 0 2rem;
  gap: 0.75rem;
}

#container-button-next {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#display-user {
  top: 4.5rem;
  left: 1rem;
  position: fixed;
}

#timer { font-size: 1.2rem; }
#counter-question { right: calc(1rem + 68px); }

#cont-screenshot {
  display: inline-block;
  max-width: 52%;
  height: auto;
  width: auto;
}

.centered-contact {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
