{% extends "quizz/base.html" %}
{% load i18n %}
{% load static %}

{% block nav-contact %}<li class="active"><a href="{% url 'quizz:contact' %}"><b>Contact</b></a></li>{% endblock %}
{% block nav-contact2 %}<li class="active"><a href="{% url 'quizz:contact' %}"><b>Contact</b></a></li>{% endblock %}

{% block content %}
<style>
textarea {
 color: white;
 margin: 8px 0;
 height: 300px;
}


</style>
<br /><br />
<div style="margin-left: 1em; margin-right: 1em;">
   <h5 class="title-about center">Contact</h5>
   <div class="centered-contact input-field">
      {% trans "intro-contact" %}
      <br /><br /><br />
      <form action="" method="post">
         {% csrf_token %}
         {{ form.management_form }}
         Email ({% trans "optional" %})
          {{ form.email }}
         <br /><br /><br />
         {% trans "title-contact" %}
          {{ form.subject }}
         <br /><br /><br />
         Message
          {{ form.message }}
         <br />
         <div class="center">
            <input type="submit" class="btn-large waves-effect btn-color" value='{% trans "Send" %}'>
         <div/><br>
      </form>
   </div>
</div>

{% endblock %}