{% extends "quizz/base.html" %}
{% load i18n %}

{% block nav-home %}<li class="active"><a href="{% url 'quizz:home' %}"><b>{% trans "Home" %}</b></a></li>{% endblock %}
{% block nav-home2 %}<li class="active"><a href="{% url 'quizz:home' %}"><b>{% trans "Home" %}</b></a></li>{% endblock %}

{% block content %}
<div class="container">

<div style="height:15vh;"></div>
<div class="row">
  <div class="col s12 m6">
      <h4 class="center" style="color:#C3073F">{% trans "Principle of Movizz" %}</h4>
    {% trans "home-principle" %}
  </div>

    <div class="col s12 m6">
      <h4 class="center" style="color:#C3073F">{% trans "How to play?" %}</h4>
      {% trans "home-how" %}
  </div>
</div>

  <div style="text-align: center;">
    <a href="{% url 'quizz:room_index' %}" class="btn-large waves-effect btn-color">{% trans "Play" %}</a><br>
  </div>

{% endblock %}