{% extends "lyrizz/base.html" %}
{% load quizz_extras %}

{% block nav-history %}<li class="active"><a href="{% url 'lyrizz:history_index' %}"><b>Historique</b></a></li>{% endblock %}
{% block nav-history2 %}<li class="active"><a href="{% url 'lyrizz:history_index' %}"><b>Historique</b></a></li>{% endblock %}

{% block javascript %}
<script>

$(document).ready ( function () {

});
</script>

{% endblock %}

{% block content %}
<div style="text-align: center;">
<h5 class="color-title-button">Historique des parties (Admin)</h5>

<!--<h5 style="color:#C3073F">Résumé des questions ({{ score_user }} / {{ nb_question }})</h5>-->
  <div style="margin: 0 auto; display: inline-block;">
{% if games.count != 0%}
      <ul class="collection">
    {% for game in games %}
          <li class="collection-item" style="background-color: #1A1A1D;">
            <a href="/admin/lyrizz/aview/history/{{game.name}}/">

          {{ game.name }}</a> ({{ game.timestamp|date:'d/m/Y H:i' }}) par <b>{{dict_name|keyvalue:game.host}}</b> ({{ game.nb_q}} questions)</li>
    {% endfor %}
      </ul>
{% else %}
    Vous n'avez joué aucune partie
{% endif %}
</div>
<br /><br />
</div>
<br />

{% endblock %}

