# /etc/systemd/system/gunicorn.service
[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=tanguy
#Group=admin
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory=/home/tanguy/movizz/guess_movie
EnvironmentFile=/home/tanguy/movizz/.env
ExecStart=/home/tanguy/movizz/venv/bin/gunicorn guess_movie.asgi:application -k uvicorn.workers.UvicornWorker -b 0.0.0.0 --access-logfile /home/tanguy/logs/gunicorn-access.log --error-logfile /home/tanguy/logs/gunicorn-error.log --log-level 'debug'
ExecReload=/usr/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
