{% extends "lyrizz/base.html" %}
{% load quizz_extras %}

{% block nav-play %}<li class="active"><a href="{% url 'lyrizz:room_index' %}"><b>Jouer</b></a></li>{% endblock %}
{% block nav-play2 %}<li class="active"><a href="{% url 'lyrizz:room_index' %}"><b>Jouer</b></a></li>{% endblock %}

{% block javascript %}

<script>
$(document).ready ( function () {

const toNumbers = arr => arr.map(Number);

{% if 'mode' in request.session %}
  MODE = '{{ mode }}'
{% else %}
  MODE = 'start'
{% endif %}

ALREADY_CREATED = 0

setTimeout(() => {
    $('#start-link').removeClass('disabled');
}, 2000);

/*
var webSocketFactory = {
  connectionTries: 1,
  connect: function(url) {
    var ws = new WebSocket(url);
    ws.addEventListener("error", e => {
      // readyState === 3 is CLOSED
      if (e.target.readyState === 3) {
        this.connectionTries--;

        if (this.connectionTries > 0) {
          setTimeout(() => this.connect(url), 5000);
        } else {

          
          $('#bug-text').html("Un problème est en cours avec le serveur<br />Veuillez réessayer ultérieurement, désolé !")
          $('#bug').css('visibility','visible');
          throw "Maximum number of connection trials has been reached";
        }

      }
    });
  }
};*/

connect_socket = function(url) {
  var connectionTries = 1;
  var ws = new WebSocket(url);
  ws.addEventListener("error", e => {
  // readyState === 3 is CLOSED
  if (e.target.readyState === 3) {
    this.connectionTries--;

    if (this.connectionTries > 0) {
      setTimeout(() => this.connect(url), 5000);
    } else {

      
      $('#bug-text').html("Un problème est en cours avec le serveur<br />Veuillez réessayer ultérieurement, désolé !")
      $('#bug').css('visibility','visible');
      throw "Maximum number of connection trials has been reached";
    }

  }
  });

  return ws;

}


if (window.location.protocol == 'https:') {
  wsProtocol = 'wss://'
} else {
  wsProtocol = 'ws://'
}

{% if request.session.game_master == room_name%}
  const url_socket_game = wsProtocol + window.location.host + '/ws/lyrizz/room/m/' + '{{room_name}}' + '/' + '{{request.session.user_id}}' + '/';
  const gameSocket = new WebSocket(url_socket_game);

  <!--  gameSocket.onclose = changer le game_master -->
  <!--  gameSocket.send = Démarrer la partie -->

{% endif %}
  const url_socket_user = wsProtocol + window.location.host + '/ws/lyrizz/room/' + '{{room_name}}' + '/' + '{{request.session.user_id}}' + '/';
  // const userSocket = new WebSocket(url_socket_user);
  const userSocket = connect_socket(url_socket_user);

  var dict_user = {};

  userSocket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      dict_user = data['dict_user'];

      if(data['code'] == 'refresh'){
        
        setTimeout(() => location.reload(), 1000);
      }
      
      if(data['code'] == 'event_start'){
      
      list_user = data['list_user']
        $.ajax({
            type: "POST",
            url: '/lyrizz/save_info_game/',
            data: {
              'list_user': JSON.stringify(list_user),
              'game_name': data['game_name'],
              'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (data2) {

              url_redir = window.location.protocol +'//'+window.location.host + '/lyrizz/room/play/' + '{{room_name}}' + '/' + data['game_name'] + '/'

              /* TODO : comprendre le bug
                  if (data['mode'] == 'start') {
                    url_redir = window.location.protocol +'//'+window.location.host + '/lyrizz/room/play/' + '{{room_name}}' + '/' + data['game_name'] + '/'
                  } else {
                    url_redir = window.location.protocol +'//'+window.location.host + '/lyrizz/room/play_image/' + '{{room_name}}' + '/' + data['game_name'] + '/'
                  }
              */
              location.replace(url_redir)
            }
        });




      }
      if ('list_user_id' in data){
          var list_user_html = '<ul>'
          for (i=0; i < data['list_user_id'].length; i++) {
            u_id = data['list_user_id'][i]
            if(u_id == '{{request.session.user_id}}'){
                list_user_html += '<b><li>' + dict_user[u_id] +'</li></b>'
            } else {
                list_user_html += '<li>' + dict_user[u_id] +'</li>'
            }
          }
          list_user_html += '</ul>'

          $("#list-user").html(list_user_html)
          $("#nb-user").text(data['list_user_id'].length)
      }

  };
  <!--  userSocket.onclose = pas d'usage ? -->
  <!--  userSocket.send = pas d'usage ? -->



    $("#start-link").click(function () {
      if (ALREADY_CREATED == 0) {
        console.log('click')
        ALREADY_CREATED = 1
        var nb_question = $("#nb-question").val()
        
        $.ajax({
            type: "POST",
            url: '/lyrizz/create_game/',
            data: {
              'room_name':'{{ room_name }}',
              'nb_question': nb_question,
              'dict_user': JSON.stringify(dict_user),
              'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (data) {
              game_name = data['game_name']
              gameSocket.send(JSON.stringify({
                'game_name': game_name,
                'nb_question': nb_question,
                'message': 'go',
                'mode': MODE
              }));

            }
        });
      }
    });

var changeTimerName = false;

$("#user-name").keyup(function(){
        if(changeTimerName !== false) clearTimeout(changeTimerName);
        changeTimerName = setTimeout(function(){
          var user_name = $("#user-name").val()
          $.ajax({
              url: '/lyrizz/change_user_name/',
              data: {
                'user_name':user_name
              },
              dataType: 'json',
              success: function (data) {
                context = {'user_name': user_name}
                userSocket.send(JSON.stringify(context));

              }
          });

            changeTimerName = false;
        },300);
});

function copyStringToClipboard (str) {
   // Create new element
   var el = document.createElement('textarea');
   // Set value (string to be copied)
   el.value = str;
   // Set non-editable to avoid focus and move outside of view
   el.setAttribute('readonly', '');
   el.style = {position: 'absolute', left: '-9999px'};
   document.body.appendChild(el);
   // Select text inside element
   el.select();
   // Copy text to clipboard
   document.execCommand('copy');
   // Remove temporary element
   document.body.removeChild(el);
}

$("#link-share").click(function () {
  $("#status-copy").css('visibility','visible');
  url_copy = window.location.protocol +'//'+window.location.host + '/lyrizz/room/' + '{{room_name}}' + '/'
  copyStringToClipboard(url_copy)
});


<!--  Selection -->
{% if request.session.game_master == room_name%}

    update_data = function(reset_selected) {
        $('#nb_songs').removeClass('normal-selection').addClass('waiting-selection');

        data_g = {'select':1}
        data_g['selected_songs'] = JSON.stringify(toNumbers($('#selected-songs').val()))

        data_g['nb_question'] = $('#nb-question').val()
        data_g['year1'] = $('#year1').val()
        data_g['year2'] = $('#year2').val()
        data_g['popularity'] = $('#popularity').val()
        data_g['lang'] = $('#lang-sel').val()

        data_g['csrfmiddlewaretoken'] = '{{ csrf_token }}'
        if (reset_selected) {
          data_g['reset'] = 1
        } else {
          data_g['reset'] = 0
        }

        $.ajax({
            type: "POST",
            url: '/lyrizz/update_selection/',
            data: data_g,
            dataType: 'json',
            success: function (data) {
                $("#nb_songs").text(data['nb_songs_sel'])
                $('#nb_songs').removeClass('waiting-selection').addClass('normal-selection');

                if (reset_selected) {
                  console.log('reset')
                  list_song_sel_name = data['list_song_sel_name']
                  list_song_sel = data['list_song_sel']
                  str_html = "<select id='selected-songs' class='update-without-reset' multiple>"
                  if (list_song_sel.length <= 200 ) {
                    for (var i = 0; i < list_song_sel.length; i++) {
                        str_html += "<option value='" + list_song_sel[i] + "' selected>" + list_song_sel_name[i] + "</option>"
                    }
                  } else {
                    str_html += "<option value='' disabled>Trop de chansons pour personnalisation</option>"
                  }
                  str_html += "</select>"
                  $('#div-selected-songs').html(str_html)
                  $('select').formSelect();

                }

            }
        });
    }

    $(document.body).on('change','.update-reset', function() {
      update_data(reset_selected=true)
    });

    $(document.body).on('change','.update-without-reset', function() {
      update_data(reset_selected=false)
    });


    $("#reset_all_year").click(function () {
        $('#year1').val(1900).change()
        $('#year2').val(2020).change()
    });

    $("#reset_all_popularity").click(function () {
        $('#popularity').val('').change()

    });

    $('#popularity').trigger('change');


    $(document).ready(function(){
        $('.collapsible').collapsible();
        $('select').formSelect();
    });


    $('#preset-default').click(function() {
        $('#year1').val(1970)
        $('#year2').val(2021)
        $('#lang-sel').val("c-1");
        $('#popularity').val(500).change()
    });

    $('#preset-all').click(function() {
        $('#year1').val(1900)
        $('#year2').val(2021)
        $('#lang-sel').val("c-1");
        $('#popularity').val('').change()

    });

{% endif %}

});
</script>
{% endblock %}

{% block content %}

<div id="room-img-container">
<div style="text-align:center">
    <div class="input-field"><input type="text" id="user-name" name="user-name" value="{{request.session.user_name}}" maxlength="25">
    <label for="user-name">Pseudo</label></div>
<!--    <a id="button-change-name" class="btn waves-effect btn-color">Renommer</a><br /><br />-->
    <a id="link-share" class="btn waves-effect btn-color">Copier le lien d'invitation</a><br />
    <span style="visibility:hidden" id="status-copy"> Copié !</span><br />
</div>
  <div style="text-align:center">
    <h6 class="color-title-button" style="font-weight:bold;">Liste des joueurs (<span id="nb-user"></span>)</h6>
    <div id="list-user"></div>

</div>
</div>

{% if request.session.game_master == room_name%}

  <ul id="ul-quote" class="collapsible" style="width:90%;margin: 0 auto;">
    <li>
      <div class="collapsible-header">Paramètres de la partie<i class="material-icons">expand_more</i></div>
      <div class="collapsible-body">
        <h5 class="title-about">Configuration basique</h5>
      <fieldset>
          <legend><b>Présélections</b> </legend>
          <div id="preset-container" style="text-align:center;">
            <a id="preset-default" title="Par défaut" class="btn waves-effect btn-color">Par défaut (simple)</a>
            <a id="preset-all" title="Tous les films" class="btn waves-effect btn-color">Toutes les chansons</a>
          </div>
      </fieldset>
    <br />

      <h5 class="title-about">Configuration avancée</h5>

<br />
  <fieldset>
      <legend><b>Nombre de questions</b> </legend>
      <div class="input-field">
    <label for="nb-question">Nombre de questions posées</label>
    {% if request.session.nb_question %}
      <input class='update-without-reset' type="number" min="2" max="50" id="nb-question" name="nb-question" value="{{ request.session.nb_question }}"><br />
    {% else %}
      <input class='update-without-reset' type="number" min="2" max="50" id="nb-question" name="nb-question" value="10"><br />
    {% endif %}
      </div>
  </fieldset>
    <p>Si vous trouvez le jeu trop difficile ou que vous avez des goûts spécifiques, vous pouvez filtrer
  les chansons par langue et popularité.</p>

  <b>Nombre de chansons sélectionnées : </b>
  <div class="color-title-button" style="font-weight: bold; display: inline;">
  {% if request.session.list_song_sel %}
  <span class="normal-selection" id="nb_songs">{{ request.session.list_song_sel|length }}</span> chansons
  {% else %}
  <span class="normal-selection" id="nb_songs">{{ nb_songs_tot }}</span> chansons
  {% endif %}
  </div>
    <br /><br />

  <fieldset>
  <legend><b>Langue</b></legend>
  <div class="input-field col m6">
    <select class="update-reset" name="lang-sel" id="lang-sel">
<!--      <option value="" disabled selected>Choose your option</option>-->
      {% if not request.session.lang_selected or request.session.lang_selected == -1 %}
        <option value="c-1" selected="selected">Toutes les langues</option>
      {% else %}
        <option value="c-1">Toutes les langues</option>
      {% endif%}

      {% for lang in langs %}
        {% if request.session.lang_selected == lang.id%}
            <option value="c{{ lang.id }}" selected="selected">{{ lang.name }}</option>
        {% else %}
            <option value="c{{ lang.id }}">{{ lang.name }}</option>
        {% endif %}
      {% endfor %}
    </select>
<!--    <label>Materialize Select</label>-->
  </div>

  </fieldset>

  <br />
  <fieldset>
      <legend><b>Années</b> (<span class="clickable-link" id="reset_all_year">Réinitialiser</span>)</legend>
      {% if request.session.year1 or request.session.year2 %}
      <div class="input-field">
          <label for="year1">De</label><input class="update-reset" type="number" id="year1" name="year1" maxlength="4" min="1900" max="2021" size="5" value="{{ request.session.year1 }}">
      </div>
      <div class="input-field">
          <label for="year2">à</label><input class="update-reset" type="number" id="year2" name="year2" maxlength="4" min="1900" max="2021" size="5" value="{{ request.session.year2 }}">
          <span class="helper-text" data-error="wrong" data-success="right">Format : AAAA (Les bornes sont inclues)</span>
      </div>
      <br />
      {% else %}
      <div class="input-field">
          <label for="year1">De</label><input class="update-reset" type="number" id="year1" name="year1" maxlength="4" min="1900" max="2021" size="5" value="1970">
      </div>
      <div class="input-field">
          <label for="year2">à</label><input class="update-reset" type="number" id="year2" name="year2" maxlength="4" min="1900" max="2021" size="5" value="2021">
          <span class="helper-text" data-error="wrong" data-success="right">Format : AAAA (Les bornes sont inclues)</span>
      </div>
      <br />
      {% endif %}


  </fieldset>

      <br />
  <fieldset>
      <legend><b>Popularité</b> (<span class="clickable-link" id="reset_all_popularity">Réinitialiser</span>)</legend>
      {% if request.session.popularity != None %}
      <div class="input-field">
          <label for="popularity">Nombre de chansons filtrées par popularité</label><input class="update-reset" type="number" id="popularity" name="popularity" min="0" max="2000" maxlength="10" size="5" value="{{ request.session.popularity }}">
          <span class="helper-text" data-error="wrong" data-success="right">Laisser vide pour ne pas filtrer par popularité</span>
      </div>
      {% else %}
      <div class="input-field">
          <label for="popularity">Nombre de chansons filtrées par popularité</label><input class="update-reset" type="number" id="popularity" name="popularity" min="0" max="2000" maxlength="10" size="5" value="200">
          <span class="helper-text" data-error="wrong" data-success="right">Laisser vide pour ne pas filtrer par popularité</span>
      </div>
      {% endif %}
    <br />
  </fieldset>
  <br />

  <fieldset>
      <legend><b>Chansons sélectionnées</b></legend>

      <div class="input-field col s12">
        <div id="div-selected-songs">
          <select id="selected-songs" class="update-without-reset" multiple>

            {% if request.session.list_song_sel|length <= 200 %}
              {% for m_name in request.session.list_song_sel_name %}
                {% if request.session.list_song_sel|index:forloop.counter0 in request.session.list_song_sel_real %}
                  <option value="{{ request.session.list_song_sel|index:forloop.counter0 }}" selected>{{ m_name }}</option>
                {% else %}
                  <option value="{{ request.session.list_song_sel|index:forloop.counter0 }}">{{ m_name }}</option>
                {% endif %}
              {% endfor %}
            {% else %}
              <option value="" disabled>Trop de chansons pour personnalisation</option>
            {% endif %}

          </select>
        </div>

        <span class="helper-text" data-error="wrong" data-success="right">Vous pouvez retirer des chansons de la liste (si moins de 200 chansons). Toute action sur les autres paramètres réinitialisera la liste.</span>
      </div>

    <br />
  </fieldset>


  <br />
  <i>Note : Si le nombre de chansons est inférieur à 3, toutes les chansons sont selectionnés.</i>

      </div>
    </li>
  </ul>

<br /><br />
<div style="text-align:center;">
    <a id="start-link" class="btn waves-effect btn-color disabled">Commencer la partie</a>

</div>
<br />

{% else %}
<div class="center">L'hôte est en train de choisir les paramètres de la partie<br />
Veuillez patienter</div>

{% endif %}





<div id='bug'><span id="bug-text"></span></div>

{% endblock %}